@model sogOrgModel




<h4>Просмотр информации</h4>
<ul>
    <li><b>Название</b> @Model.DeptName</li>
    <li><b>Адрес</b> @Model.Addres</li>    
    <li><b>Кабинет</b> @Model.Cabinet</li>
    <li><b>Телефон</b> @Model.PhoneNo</li>
    <li><b>Комментарий</b> @Model.Notes</li>
</ul>