@model performerModel
@inject getList list
@{
    ViewData["Title"] = @Context.Request.Query["idArea"].ToString() != "" ? "Редактировать исполнителя" : "Добавить исполнителя";
}
 <h2 class="h2 nav-green">@ViewData["Title"]</h2>
<div class="col-md-8 offset-md-2">
    
    <partial name="navList"/>
    <hr />
   
    <form asp-action="CreatePerformer" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model!=null&&Model.Id != Guid.Empty)
        {
            <input asp-for="Id" type="hidden" class="form-control" />
        }
         <div class="form-group row">
            <label asp-for="Department.Curators.Area_Id" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <select asp-for="Department.Curators.Area_Id" class="form-control" asp-items="@(await list.areaList())"></select>
            </div>
        </div>
         <div class="form-group row">
            <label asp-for="Department.Curator_Id" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <select asp-for="Department.Curator_Id" class="form-control" asp-items="@(await list.curatorList((Model!=null?Model.Department.Curators.Area_Id.ToString():(await list.areaList()).ElementAt(0).Value)))"></select>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Department_ID" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">        
                <select asp-for="Department_ID" class="form-control" asp-items="@(
            await list.departmentList(
        (Model!=null?
    Model.Department.Curator_Id.ToString():(await list.curatorList((await list.areaList()).ElementAt(0).Value)).Count()>0?(await list.curatorList((await list.areaList()).ElementAt(0).Value)).ElementAt(0).Value:"")))"></select>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="FIO" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="FIO" class="form-control"/>
                <span asp-validation-for="FIO" class="text-danger"></span>
            </div>
        </div>     
        <div class="form-group row">
            <label asp-for="Title" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Address" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
         <div class="form-group row">
            <label asp-for="Cabinet" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="Cabinet" class="form-control"/>
                <span asp-validation-for="Cabinet" class="text-danger"></span>
            </div>
        </div> 
         <div class="form-group row">
            <label asp-for="Phone" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="Phone" class="form-control"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>        
        <div class="form-group row">
            <label asp-for="e_mail" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="e_mail" class="form-control" />
                <span asp-validation-for="e_mail" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Number" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Notes" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Notes" class="form-control" ></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row"  style="padding-left:15px;">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            <a class="btn btn-link" asp-action="Index">Назад к списку</a>
        </div>
    </form>
    
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}