@model createStatement
@inject getList list
@{
    ViewData["Title"] = "Редактирование обращения № " + @Model.DocNo;
}
<h2 class="h2 nav-green">@ViewData["Title"]</h2>


<nav class="nav nav-pills nav-justified">
    <a asp-action="edit" asp-controller="create" asp-route-regId="@Model.RegistrationID" class="nav-item nav-link active">Заявитель</a>
    <a asp-action="index" asp-controller="family" asp-route-regId="@Model.RegistrationID" class="nav-item nav-link">Состав семьи</a>
    <a asp-action="transfer" asp-controller="family" asp-route-regId="@Model.RegistrationID" class="nav-item nav-link">Запросы</a>
    @* <a asp-action="sogl" asp-controller="family" asp-route-regId="@Model.RegistrationID" class="nav-item nav-link">Согласования</a>*@
</nav>
<hr />

<form asp-action="edit" enctype="multipart/form-data">
    <div class="form-row">
        <div class="col-xl-6">
            @if (ViewBag.message != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong> @ViewBag.message</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RegistrationID" />
            <div class="form-group row">
                <div class="col-md">
                    @if (Model != null && Model.RegistrationID != Guid.Empty && Model.URLKartReg != null)
                    {
                        <a class="btn btn-outline-success" href="~/returnFile/index?urlFile=@Model.URLKartReg">Скачать регистрационную карту</a>
                    }
                    @if (Model != null && Model.RegistrationID != Guid.Empty && Model.UrlZayav != null)
                    {
                        <a class="btn btn-outline-success" href="~/returnFile/index?urlFile=@Model.UrlZayav">Скачать заявление</a>
                    }
                </div>

            </div>
            <div class="border-inset">
                <h5>Заявление</h5>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label asp-for="TypeReg" class="col-form-label"></label>
                        <input type="hidden" asp-for="TypeReg" />
                        @*<label class="col-form-label"><b>@(new SelectList(dictionaryList.typeReg ,"Key","Value").First(x=>x.Value==Model.TypeReg.ToString()).Text)</b></label>*@
                        <select asp-for="TypeReg" class="form-control" disabled asp-items="@(new SelectList(dictionaryList.typeReg ,"Key","Value"))"></select>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="StatementForm" class="col-form-label"></label>
                        @if (Context.User.IsInRole("registrator4")||Context.User.IsInRole("administrator"))
                        {
                            <select asp-for="StatementForm" class="form-control">
                                <option>Письменно</option>
                                <option>Устно</option>
                                <option>По почте</option>
                                <option>По телефону</option>
                                <option>Через интернет</option>
                                <option>Курьером</option>
                            </select>
                            <span asp-validation-for="StatementForm" class="text-danger"></span>
                        }
                        else
                        {
                            <label class="form-control disabledSpan">@Model.StatementForm</label>
                             <input type="hidden" asp-for="StatementForm" />
                        }
                    </div>
                    <div class="col-md-5">
                        <label class="col-form-label">Заявление</label>
                        <label class="form-control disabledSpan"><b>№ @Model.DocNo от @Model.GettingDate</b></label>
                    </div>

                    <div class="col-md-2">
                        <label class="col-form-label">Процедура</label>
                        <span onclick="viewAdminProc()" class="text-white btn btn-success">Выбор процедуры</span>
                        <span asp-validation-for="RegID" class="text-danger"></span>
                        <input type="hidden" name="RegID" value="@((Model!=null&&Model.RegID!=null)?Model.RegID:"")" />
                    </div>
                </div>

                <div name="getAdminProc">
                    @if (Model != null && Model.RegID != null)
                    {
                        <partial name="getAdminProcInfo" model="@Model.DocRegistry" view-data="@(new ViewDataDictionary(ViewData) {  { "organiz", ((Model!=null&&Model.Organiz!=null)?Model.Organiz:"") } })"></partial>
                    }
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="MustBeReady" class="col-form-label"></label>
                        <input type="date" disabled="disabled" asp-for="MustBeReady" class="form-control font-weight-bold" />
                    </div>
                    <div class="col-md-2">
                        <label asp-for="KolList" class="col-form-label"></label>
                        <input asp-for="KolList" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <label asp-for="KolListPril" class="col-form-label"></label>
                        <input asp-for="KolListPril" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="border-inset">

                <h5>Заявитель</h5>

                <div class="form-group row" style="display:none;">
                    <div class="col-md-12">
                        <label asp-for="OrgName" class="col-form-label"></label>
                        <input asp-for="OrgName" class="form-control bg-req" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="LName" class="col-form-label"></label>
                        <input asp-for="LName" class="form-control bg-req text-capitalize" />
                        <span asp-validation-for="LName" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="FName" class="col-form-label"></label>
                        <input asp-for="FName" class="form-control bg-req text-capitalize" />
                        <span asp-validation-for="FName" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="MName" class="col-form-label"></label>
                        <input asp-for="MName" class="form-control text-capitalize" />
                        <span asp-validation-for="MName" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="PhoneNo" class="col-form-label"></label>
                        <input asp-for="PhoneNo" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <label asp-for="MobPhone" class="col-form-label"></label>
                        <input asp-for="MobPhone" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <label asp-for="e_mail" class="col-form-label"></label>
                        <input asp-for="e_mail" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="PassportNo" class="col-form-label"></label>
                        <input asp-for="PassportNo" class="form-control text-uppercase" />
                    </div>
                    <div class="col-md-2">
                        <label asp-for="PersonalNo" class="col-form-label"></label>
                        <input asp-for="PersonalNo" class="form-control text-uppercase" />
                        <span asp-validation-for="PersonalNo" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="PassIssuerDate" class="col-form-label"></label>
                        <input type="date" asp-for="PassIssuerDate" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label asp-for="PassIssuer" class="col-form-label"></label>
                        <input asp-for="PassIssuer" class="form-control" />
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="City" class="col-form-label"></label>
                        <input asp-for="City" value="@(Model.City==null?"г.Минск":Model.City)" class="form-control bg-req" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Address" class="col-form-label"></label>
                        <input asp-for="Address" class="form-control bg-req" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="Home" class="col-form-label"></label>
                        <input asp-for="Home" class="form-control bg-req" />
                        <span asp-validation-for="Home" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="Flat" class="col-form-label"></label>
                        <input asp-for="Flat" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="border-inset">
                <div style="display:none;" class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Файлы сохранены</h4>
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="fileUrl" class="col-form-label">Прикрепить файлы</label>
                        <span onclick="saveAttachFile()" class="btn btn-outline-success">Загрузить файлы</span>
                        <input name="fileUrl" multiple type="file" class="form-control-file" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="fileUrl" class="col-md-12 col-form-label">Прикрепленные файлы</label>
                    <div name="loadAttachFile" class="col-md-12">
                        <partial name="loadAttachFile" model="@Model.RegistrationID"></partial>
                    </div>
                </div>
            </div>
            <div class="border-inset">
                <div class="form-group row">

                    <div class="col-md-12">
                        <label asp-for="Proceedings" class="col-form-label"></label>
                        <textarea asp-for="Proceedings" class="form-control"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="col-form-label">Текущий статус обращения</label>
                        <label class="form-control disabledSpan">@(Model.State==1?"находится во входящих":Model.State==2?"отправлено в отдел":Model.State==3?"возвращено из отдела":Model.State==4?"выдано заявителю":"удалено")</label>
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label">Передали в отдел</label>
                        <label class="form-control disabledSpan">@(Model.OutDeptDate!=null?Model.OutDeptDate.Value.ToString("d"):"не передавалось в отдел")</label>

                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label">Вернули из отдела</label>
                        <label class="form-control disabledSpan">@(Model.ReturnInDeptDate!=null?Model.ReturnInDeptDate.Value.ToString("d"):"не возвращалось из отдела")</label>

                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label">Выдали заявителю</label>
                        <label class="form-control disabledSpan">@(Model.IssueDate!=null?Model.IssueDate.Value.ToString("d") + " "+Model.EvaluationNotification:"не выдавалось заявителю")</label>

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <label class="col-form-label">Административное решение №</label>
                        <label class="form-control disabledSpan">@(Model.sol!=null?(Model.sol.solutionNumber==null||Model.sol.solutionNumber==""?"номер не присвоен":Model.sol.solutionNumber+(Model.sol.dateOfSolution!=null&&Model.sol.dateOfSolution.Value.Year>1990?" от "+ Model.sol.dateOfSolution.Value.ToString("d")+" "+ Model.sol.solution:"")):"")</label>

                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label">Документ подшит в дело №</label>
                        <label class="form-control disabledSpan">@(Model.CaseNamber??"номер не присвоен")</label>

                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label">Кол-во листов</label>
                        <input class="form-control" asp-for="LoListCase" />
                    </div>
                </div>
            </div>
            <div class="border-inset">
                <div class="form-group row">

                    <div class="col-md-12">
                        <label asp-for="Notes" class="col-form-label"></label>
                        <textarea asp-for="Notes" class="form-control"></textarea>
                    </div>
                </div>

                <hr />

                <div class="form-group row">
                    <label for="NameDocDop" class="col-md-12 col-form-label">Документы</label>
                    <div class="col-md-12" name="NameDocDopList">
                        @if (Model != null && Model.RegID != null)
                        {
                            <partial name="getDocForProc" model="@(new docZapr{regId= (Guid)Model.RegID, selectList=Model.NameDocDop})"></partial>
                        }
                    </div>
                </div>


                <div class="form-group row">

                    <div class="col-md-12">
                        <label asp-for="NameDoc_Dop" class="col-form-label"></label>
                        <textarea asp-for="NameDoc_Dop" class="form-control"></textarea>
                    </div>
                </div>

                <hr />

                <div class="form-group row">
                    <label for="NameZpDop" class="col-md-12 col-form-label">Запрашиваемые документы  <label><input type="checkbox" asp-for="extendSrok"> Увеличить срок</label></label>

                    <div class="col-md-12" name="NameZpDopList">
                        @if (Model != null && Model.RegID != null)
                        {
                            <partial name="getZaprForProc" model="@(new docZapr{regId= (Guid)Model.RegID, selectList=Model.NameZpDop})"></partial>
                        }
                    </div>
                </div>
                <div class="form-group row">

                    <div class="col-md-12">
                        <label asp-for="NameZp_Dop" class="col-form-label"></label>
                        <textarea asp-for="NameZp_Dop" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottomFixed">
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <input type="submit" asp-route-generateDoc="true" value="Сохранить и Сформировать документы" class="btn btn-outline-primary" />
                <span onclick="generateDocument()" class="btn btn-outline-success">Сформировать документы</span>
            </div>
        </div>
    </div>
</form>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
<script src="~/js/create.js" asp-append-version="true"></script>