@inject getAdminProc procAdmin
@{
    ViewData["Title"] = "Административные процедуры";
}
 <h2 class="h2 nav-green">@ViewData["Title"]</h2>
<div class="row">
<div class="col-md-6">
    <nav class="nav nav-pills nav-justified">
        <a asp-action="index" asp-route-legal="false" class="nav-item nav-link @(Context.Request.Query["legal"]=="false"||!Context.Request.Query.ContainsKey("legal")?"active":"")">Только для физических лиц</a>
        <a asp-action="index" asp-route-legal="true" class="nav-item nav-link @(Context.Request.Query["legal"]=="true"?"active":"")">Только для юридических лиц</a>
       
            <a asp-action="create" class="nav-item nav-link">Добавить</a>
       
    </nav>
    <hr />
     @if(procAdmin.getList(Context.Request.Query["legal"])!=null)
    {
       <ol id="adminProcList" class="viewDoc" data-controller="@ViewContext.RouteData.Values["Controller"].ToString()">
            @foreach (adminProcModel proc in procAdmin.getList(Context.Request.Query["legal"]))
            {
                <li value="@proc.head.Number">
                    <span>@proc.head.Name</span>
                    <ol style="display:none;">
                        @foreach (sectionAdminProc sec in proc.section)
                        {
                            <li value="@sec.section.Number">
                                <span>@sec.section.Name</span>
                                <ol style="display:none;">
                                    @foreach (docRegModel doc in sec.docReg)
                                    {
                                        <li value="@doc.Num">
                                           <span data-doc="@doc.RegID"> <b>@doc.Number</b> @doc.RegName</span>
                                            <div style="display:none;" name="actionMenu">
                                                
                                                    <a asp-action="create" asp-route-idDoc="@doc.RegID">Редактировать</a>
                                                
                                                    <label style="display:inline-block;"><input type="checkbox" data-selected="@doc.RegID" checked="@doc.Selected" />Активна</label>
                                                    <label style="display:inline-block;"><input type="checkbox" data-pmc="@doc.RegID" checked="@doc.Regulation740" />ПМС 740</label>
                                                
                                                    <a class="text-danger" asp-action="delete" asp-route-idDoc="@doc.RegID">Удалить</a>
                                               
                                            </div>
                                        </li>
                                    }
                                </ol>
                            </li>
                        }
                    </ol>
                </li>
            }
        </ol>
    }
</div>
<div class="col-md-6" id="viewPartial">

    </div>
</div>
