@model IEnumerable<zaprViewModel>
@{
    ViewData["Title"] = "Справочник запрашиваемых документов";
}
 <h2 class="h2 nav-green">@ViewData["Title"]</h2>
 <div class="row">
    <div class="col-md-6">
       
        <nav class="nav nav-pills nav-justified">
            <a asp-action="index" asp-route-legal="false" asp-route-searchName="@Context.Request.Query["searchName"]" class="nav-item nav-link @(!Context.Request.Query.ContainsKey("legal")||Context.Request.Query["legal"]=="false"?"active":"")">Только для физических лиц</a>
            <a asp-action="index" asp-route-legal="true" asp-route-searchName="@Context.Request.Query["searchName"]" class="nav-item nav-link @(Context.Request.Query["legal"]=="true"?"active":"")">Только для юридических лиц</a>
           
                <a asp-action="create" class="nav-item nav-link">Добавить</a>
            
        </nav>
        <hr />
        <form asp-action="index" method="get">
            <input type="hidden" name="legal" value="@(Context.Request.Query["legal"]!="true"?"false":"true")" />
            <div class="form-group row">
                <label for="searchName" class="col-form-label col-md-3">Наименование</label>
                <div class="col-md-4">
                    <input id="searchName" name="searchName" value="@Context.Request.Query["searchName"]" class="form-control" />
                </div>
                <div class="col-md-5">
                    <input type="submit" value="Поиск" class="btn btn-primary" />
                    <a asp-action="index" class="btn btn-light">Очистить поиск</a>
                </div>
            </div>
        </form>
        <hr />
        @if (Model != null)
        {
            <div class="viewDoc" data-controller="@ViewContext.RouteData.Values["Controller"].ToString()">
                @foreach (zaprViewModel doc in Model)
                {
                    <div>
                        <span data-doc="@doc.idZapr">@doc.Name</span>
                        
                            <div style="display:none;" name="actionMenu">
                                <a  asp-action="create" asp-route-idDoc="@doc.idZapr">Редактировать</a>
                                <span  onclick="addAdminProc()">Добавить к процедуре</span>
                                <a class="text-danger" asp-action="delete" asp-route-idDoc="@doc.idZapr">Удалить</a>
                            </div>
                       
                    </div>
                }
            </div>
        }
        <hr />
        
    </div>
    <div  class="col-md-6" id="viewPartial">
    </div>
</div>
<div class="modal fade" id="viewAdminProcModalForDoc" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width:1000px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Выбор административной процедуры</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Component.InvokeAsync("adminProcList", new {legalStr= (Context.Request.Query["legal"]!="true"?"false":"true")})
            </div>
            <div class="modal-footer">
                <button type="button" id="saveButton" class="btn btn-primary">Сохранить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
